* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

h1,
.welcome {
  text-align: center;
}

ul {
  margin: 25px auto 0 auto;
  max-width: 750px;
}

li {
  border: solid black 1px;
  list-style-type: none;
  padding: 5px;
  margin-bottom: 10px;
}

.user,
.text {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.user {
  font-weight: bold;
}

.text {
  font-style: italic;
  padding-left: 15px;
}

.added {
  text-align: end;
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

div {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 1px 3px;
  width: 250px;
}

a {
  color: #13a1ff;
  text-align: center;
  display: block;
  /* font-weight: bold; */
  margin-top: 20px;
  font-size: 1.2rem;
}